<template>
  <q-page class="fit flex flex-center"
          :class="$q.dark.isActive ? 'bg-grey-10' : 'about-page-light-bg'">
    <vue-particles
      color="#dedede"
      :particleOpacity="0.7"
      :particlesNumber="135"
      shapeType="circle"
      :particleSize="4"
      linesColor="#dedede"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.5"
      :linesDistance="150"
      :moveSpeed="3"
      :hoverEffect="true"
      hoverMode="grab"
      :clickEffect="true"
      clickMode="repulse"
      class="absolute-center fit"
      :style="$q.screen.lt.sm ? 'z-index: 1' : ''"
    >
    </vue-particles>
    <div class="row div-card full-width items-center justify-center">
      <div class="column col-12 col-sm-10 col-md-8 items-center justify-center">
        <q-card class="my-card">
          <lottie :options="vue" :height="300" :width="300"/>
          <q-card-section>
            <div class="q-px-md q-pb-md q-pt-none text-purple-12 text-center text-h6">
              <q-icon name="mdi-account" size="40px"/>
              <span class="q-pa-sm">{{ $t('aboutMe') }}</span>
            </div>
            <div class="text-subtitle2 text-center">{{ $t('information1') }}</div>
            <div class="text-subtitle2 text-center">{{ $t('information2') }}</div>
            <div class="text-subtitle2 text-center">{{ $t('information3') }}</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>
<script>
import lottie from "vue-lottie";
import vuejs from "../assets/animations/vuejs.json";
import VueParticles from 'vue-particles'
import Vue from 'vue'

Vue.use(VueParticles)

export default {
  name: "About",
  components: {
    lottie,
  },
  data() {
    return {
      vue: {animationData: vuejs, loop: true},
    }
  }
};
</script>
<style>
.my-card {
  width: 100%;
  max-width: 650px;
}

.div-card {
  padding: 1%;
  margin: 1%;
}

@media only screen and (max-width: 450px) {
  .div-card {
    padding: 3%;
    margin: 2%;
  }
}

.about-page-light-bg {
  background-image: linear-gradient(to right top, #f7c9cb, #f5d1da, #f3dae5, #f0e3ed, #f0ebf2, #eeebf5, #eaebf8, #e4ecfb, #cde8fe, #b0e6fc, #91e4f2, #77e1df);
}
</style>
