<template>
  <q-page class="column" :class="$q.dark.isActive ? 'bg-grey-10' : 'bg-grey-4'">
    <div class="q-sm-12 q-md-8 items-center justify-center">
      <div v-if="filteredTasks && filteredTasks.length > 0" class="row justify-center items-center">
        <q-list class="col-11 col-sm-10 col-md-8 col-lg-7 q-mb-md q-mt-xl" style="margin-top: 90px;">
          <transition-group
            appear
            enter-active-class="animated fadeInDown"
            leave-active-class="animated fadeOutDown"
          >
            <q-slide-item
              v-for="(task, index) in filteredTasks"
              :key="'transitionsTask'+index"
              @left="opt =>onDeleteSwipe(opt, index)" @right="opt =>onToggleSwipe(opt, index)"
              left-color="red"
              right-color="teal-14"
              class="todo-items"
            >
              <template v-slot:left>
                <div class="row items-center">
                  <q-icon left name="delete"/>
                  {{ $t('delete') }}
                </div>
              </template>
              <template v-slot:right>
                <div class="row items-center">
                  {{ $t('status') }}
                  <q-icon right name="check"/>
                  <q-icon right name="close"/>
                </div>
              </template>
              <!--              <q-menu-->
              <!--                touch-position-->
              <!--                context-menu-->
              <!--                transition-show="scale"-->
              <!--                transition-hide="scale"-->
              <!--                :target="$q.screen.lt.md ? (task.contextMenu ? '#target-item'+index : '') : '#target-item'+index"-->
              <!--                v-model="task.contextMenu"-->
              <!--              >-->

              <!--                <q-list dense style="min-width: 100px" class="persian-font">-->
              <!--                  <q-item clickable v-close-popup>-->
              <!--                    <q-item-section>{{ $t('edit') }}</q-item-section>-->
              <!--                  </q-item>-->
              <!--                  <q-item clickable v-close-popup>-->
              <!--                    <q-item-section>{{ $t('categories') }}</q-item-section>-->
              <!--                  </q-item>-->
              <!--                  <q-item @click="toggleTask(index)" clickable>-->
              <!--                    <q-item-section>{{ task.done ? $t('undone') : $t('done') }}</q-item-section>-->
              <!--                    &lt;!&ndash;                    <q-item-section side>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                      <q-icon name="keyboard_arrow_left"/>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                    </q-item-section>&ndash;&gt;-->

              <!--                    &lt;!&ndash;                    <q-menu anchor="top end" self="top start">&ndash;&gt;-->
              <!--                    &lt;!&ndash;                      <q-list>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                        <q-item @click="toggleTask(index)" clickable v-close-popup>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                          <q-item-section>انجام شده</q-item-section>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                        </q-item>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                        <q-separator/>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                        <q-item @click="task.done=false" clickable v-close-popup>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                          <q-item-section>انجام نشده</q-item-section>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                        </q-item>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                      </q-list>&ndash;&gt;-->
              <!--                    &lt;!&ndash;                    </q-menu>&ndash;&gt;-->

              <!--                  </q-item>-->
              <!--                  <q-item @click="toggleStared(index)" clickable v-close-popup>-->
              <!--                    <q-item-section>{{-->
              <!--                        task.stared === 1 ? $t('unstared') : $t('stared')-->
              <!--                      }}-->
              <!--                    </q-item-section>-->
              <!--                  </q-item>-->
              <!--                  <q-item clickable v-close-popup @click="deleteTask(index)">-->
              <!--                    <q-item-section>{{ $t('delete') }}</q-item-section>-->
              <!--                    <q-item-section side>-->
              <!--                      <q-icon name="delete" size="sm"/>-->
              <!--                    </q-item-section>-->
              <!--                  </q-item>-->
              <!--                </q-list>-->

              <!--              </q-menu>-->
              <q-item
                :class="{ 'done item-done-background': task.done }"
                v-ripple
                @click="toggleTask(index)"
                clickable
              >
                <q-item-section avatar>
                  <q-checkbox
                    v-model="task.done"
                    color="teal-14"
                    class="no-pointer-events rounded"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ task.title }}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-rating
                    v-model="task.stared"
                    :class="'animated' + (task.stared === 1 ? ' rotateIn' : ' jello infinite slow')"
                    @click.stop
                    rounded
                    glossy
                    icon="star"
                    dense
                    size="md"
                    :max="1"
                    color="amber-5"
                  />
                  <!--              </transition>-->
                </q-item-section>
                <q-item-section side>
                  <q-btn
                    @click.stop="openContextMenuDialog(index)"
                    rounded
                    flat
                    dense
                    icon="mdi-cog"
                    color="blue-grey"
                    size="md"
                  />
                  <!--              </transition>-->
                </q-item-section>
                <q-item-section side>
                  <q-btn
                    @click.stop="deleteTask(index)"
                    rounded
                    flat
                    dense
                    icon="delete"
                    color="pink-14"
                    size="md"
                  />
                </q-item-section>
              </q-item>
            </q-slide-item>
            <!--            <q-item-->
            <!--              :class="{ 'done q-item__select': task.done }"-->
            <!--              v-for="(task, index) in tasks"-->
            <!--              :key="task.title"-->
            <!--              v-ripple-->
            <!--              @click="task.done = !task.done"-->
            <!--              clickable-->
            <!--              class="todo-items"-->
            <!--            >-->
            <!--              <q-item-section avatar>-->
            <!--                <q-checkbox-->
            <!--                  v-model="task.done"-->
            <!--                  color="teal-14"-->
            <!--                  class="no-pointer-events rounded"-->
            <!--                />-->
            <!--              </q-item-section>-->
            <!--              <q-item-section>-->
            <!--                <q-item-label>{{ task.title }}</q-item-label>-->
            <!--              </q-item-section>-->
            <!--              <q-item-section side>-->
            <!--                <q-rating-->
            <!--                  v-model="task.stared"-->
            <!--                  :class="'animated' + (task.stared === 1 ? ' rotateIn' : ' jello infinite slow')"-->
            <!--                  @click.stop-->
            <!--                  rounded-->
            <!--                  glossy-->
            <!--                  icon="star"-->
            <!--                  dense-->
            <!--                  size="md"-->
            <!--                  :max="1"-->
            <!--                  color="amber-5"-->
            <!--                />-->
            <!--                &lt;!&ndash;              </transition>&ndash;&gt;-->
            <!--              </q-item-section>-->
            <!--              <q-item-section side>-->
            <!--                <q-btn-->
            <!--                  @click.stop="deleteTask(index)"-->
            <!--                  rounded-->
            <!--                  glossy-->
            <!--                  dense-->
            <!--                  icon="delete"-->
            <!--                  color="pink-14"-->
            <!--                  size="sm"-->
            <!--                />-->
            <!--              </q-item-section>-->
            <!--            </q-item>-->
          </transition-group>

        </q-list>
      </div>
      <div v-else class="no-tasks absolute-center text-center">
        <q-icon name="check" size="100px" color="pink-4"/>
        <div class="text-h6 text-pink-4 text-center">
          {{ $t('noTasks') }}
        </div>
      </div>
    </div>
    <q-dialog v-model="contextMenuDialog" v-if="contextMenuDialog" position="bottom">
      <q-card style="width: 350px">
        <q-card-section class="row items-center no-wrap">
          <q-list :class="`${languageClass} col`">
            <q-item @click="openEditItem" clickable>
              <q-item-section side>
                <q-icon name="mdi-pencil" size="sm"/>
              </q-item-section>
              <q-item-section>{{ $t('edit') }}</q-item-section>
            </q-item>
            <q-item @click="toggleTask(currentItemIndex)" clickable>
              <q-item-section side>
                <q-icon :name="filteredTasks[currentItemIndex].done ? 'close' : 'check'" size="sm"/>
              </q-item-section>
              <q-item-section>{{ filteredTasks[currentItemIndex].done ? $t('undone') : $t('done') }}</q-item-section>
              <!--                    <q-item-section side>-->
              <!--                      <q-icon name="keyboard_arrow_left"/>-->
              <!--                    </q-item-section>-->

              <!--                    <q-menu anchor="top end" self="top start">-->
              <!--                      <q-list>-->
              <!--                        <q-item @click="toggleTask(index)" clickable v-close-popup>-->
              <!--                          <q-item-section>انجام شده</q-item-section>-->
              <!--                        </q-item>-->
              <!--                        <q-separator/>-->
              <!--                        <q-item @click="task.done=false" clickable v-close-popup>-->
              <!--                          <q-item-section>انجام نشده</q-item-section>-->
              <!--                        </q-item>-->
              <!--                      </q-list>-->
              <!--                    </q-menu>-->

            </q-item>
            <q-item @click="toggleStared(currentItemIndex)" clickable v-close-popup>
              <q-item-section side>
                <q-icon :name="filteredTasks[currentItemIndex].stared ? 'mdi-star-outline' : 'star'" size="sm"/>
              </q-item-section>
              <q-item-section>{{
                  filteredTasks[currentItemIndex].stared === 1 ? $t('unstared') : $t('stared')
                }}
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="deleteTask(currentItemIndex)">
              <q-item-section side>
                <q-icon name="delete" size="sm"/>
              </q-item-section>
              <q-item-section>{{ $t('delete') }}</q-item-section>

            </q-item>
          </q-list>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="taskDialog" position="bottom" :content-class="`${languageClass}`">
      <q-card style="width: 350px">
        <q-toolbar>
          <q-avatar>
            <q-icon size="md" :name="dialogMode === 'edit' ? 'mdi-pencil' : 'mdi-pencil-plus'"/>
          </q-avatar>

          <q-toolbar-title>
            <span class="text-weight-bold">{{ dialogMode === 'edit' ? $t('edit') : $t('addNewTask') }}</span>
          </q-toolbar-title>

          <q-btn flat round dense icon="close" v-close-popup/>
        </q-toolbar>
        <q-card-section class="row items-center no-wrap">
          <q-list class="col">
            <q-item>
              <q-item-section side>
                <q-icon name="mdi-text-box" size="sm"/>
              </q-item-section>
              <q-item-section>
                <q-input
                  class="full-width"
                  v-model="currentItem.title"
                  filled
                  autogrow
                />
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="deleteTask(currentItemIndex)">
              <q-item-section side>
                <q-icon name="mdi-group" size="sm"/>
              </q-item-section>
              <q-item-section>
                <div class="row">
                  <q-radio
                    v-for="category in categories"
                    keep-color
                    v-model="currentItem.category"
                    :val="category.name"
                    :label="$t(category.name)"
                    :color="category.color"
                    class="q-mx-sm"/>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
        <q-card-actions>
          <q-btn
            v-if="dialogMode === 'add'"
            @click="addTask"
            class="full-width"
            push
            color="teal"
            :label="$t('submit')"/>
          <q-btn
            v-else-if="dialogMode === 'edit'"
            @click="editTask"
            class="full-width"
            push
            color="amber"
            :label="$t('edit')"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn
        class="q-ma-md"
        fab
        color="primary"
        size="lg"
        icon="add"
        @click="openAddItem"
      />
    </q-page-sticky>
    <q-page-sticky expand position="top">
      <div class="row q-py-md bg-pink-1 justify-center items-center full-width">
        <q-input
          class="col-11 col-sm-10 col-md-8 col-lg-7 "
          input-class="text-teal"
          rounded
          outlined
          v-model="searchedTitle"
          :placeholder="$t('search')"
          bg-color="white"
        >
          <template v-slot:append>
            <q-btn color="teal" round dense flat icon="search"/>
          </template>
        </q-input>
      </div>
    </q-page-sticky>
  </q-page>
</template>
<script>
import {mapState} from 'vuex'

export default {
  data() {
    return {
      searchedTitle: "",
      tasks: [],
      // filteredTasks: [],
      contextMenuDialog: false,
      currentItem: {
        id: 0,
        title: '',
        done: false,
        stared: 0,
        category: 'personal',
      },
      currentItemIndex: 0,
      taskDialog: false,
      dialogMode: 'add',
      lastID: 0,
    };
  },
  computed: {
    languageClass: function () {
      // `this` points to the vm instance
      return this.$i18n.locale === 'en-us' ? 'english-font' : 'persian-font';
    },
    filteredTasks() {
      let tempTasks = [];
      if (this.$route.name === 'all') {
        tempTasks = this.tasks;
      } else if (this.$route.name === 'favorites') {
        tempTasks = this.tasks.filter(task => {
          return task.stared === 1;
        })
      } else {
        tempTasks = this.tasks.filter(task => {
          return task.category === this.$route.name;
        })
      }
      if (this.searchedTitle && this.searchedTitle.length > 0) {
        return tempTasks.filter(task => {
          return task.title.includes(this.searchedTitle);
        })
      } else {
        return tempTasks;
      }
    },
    ...mapState('shared', ['categories']),
  },
  created() {
    let tempTasks = JSON.parse(localStorage.getItem("tasks"));
    this.tasks = tempTasks ? tempTasks : [];
    this.lastID = (this.tasks && this.tasks.length > 0) ? this.tasks[0].id : 0;
    // this.filteredTasks = JSON.parse(localStorage.getItem("tasks"));
  },
  methods: {
    deleteTask(index) {
      let currentTIDnTasks = this.tasks.findIndex(task => {
        return task.id === this.filteredTasks[index].id;
      })
      this.$q
        .dialog({
          title: this.$t('warning'),
          class: this.languageClass,
          message: this.$t('youSure'),
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.tasks.splice(currentTIDnTasks, 1);
          this.showNotification('deleted', 'info');
        });
    },
    toggleTask(index) {
      let currentTIDnTasks = this.tasks.findIndex(task => {
        return task.id === this.filteredTasks[index].id;
      })
      this.tasks[currentTIDnTasks].done = !this.tasks[currentTIDnTasks].done;
    },
    toggleStared(index) {
      let currentTIDnTasks = this.tasks.findIndex(task => {
        return task.id === this.filteredTasks[index].id;
      })
      this.tasks[currentTIDnTasks].stared === 1 ? this.tasks[currentTIDnTasks].stared = 0 : this.tasks[currentTIDnTasks].stared = 1;
    },
    addTask() {
      if (!this.currentItem.title || !this.currentItem.category) {
        this.showNotification('enterAllFields', 'red');
      } else {
        this.lastID += 1;
        this.currentItem.id = this.lastID;
        this.tasks.unshift(this.currentItem);
        this.currentItem = {
          id: 0,
          title: '',
          done: false,
          stared: 0,
          category: 'personal',
        };
        this.taskDialog = false;
      }
    },
    editTask() {
      if (!this.currentItem || !this.currentItem.title || !this.currentItem.category) {
        this.showNotification('enterAllFields', 'red');
      } else {
        let currentTIDnTasks = this.tasks.findIndex(task => {
          return task.id === this.filteredTasks[this.currentItemIndex].id;
        })
        this.tasks[currentTIDnTasks].title = this.currentItem.title;
        this.tasks[currentTIDnTasks].done = this.currentItem.done;
        this.tasks[currentTIDnTasks].stared = this.currentItem.stared;
        this.tasks[currentTIDnTasks].category = this.currentItem.category;
        this.taskDialog = false;
      }
    },
    onDeleteSwipe({reset}, index) {
      this.deleteTask(index);
      reset();
      // this.finalize(reset);
    },
    onToggleSwipe({reset}, index) {
      this.toggleTask(index);
      reset();
      // this.finalize(reset);
    },
    openContextMenuDialog(index) {
      this.currentItemIndex = index;
      this.contextMenuDialog = true;
    },
    // finalize(reset) {
    //   this.timer = setTimeout(() => {
    //     reset()
    //   }, 100)
    // }
    openEditItem() {
      // this.currentItemIndex = index;
      this.contextMenuDialog = false;
      this.currentItem = JSON.parse(JSON.stringify(this.filteredTasks[this.currentItemIndex]));
      this.dialogMode = 'edit';
      this.taskDialog = true;
    },
    openAddItem() {
      this.currentItem = {
        id: 0,
        title: '',
        done: false,
        stared: 0,
        category: 'personal',
      };
      this.dialogMode = 'add';
      this.taskDialog = true;
    },
    showNotification(message, color = 'info') {
      this.$q.notify({
          message: this.$t(message),
          classes: this.languageClass,
          position: this.$q.screen.lt.sm ? 'top' : 'bottom-right',
          color: color,
        }
      );
    }
  },
  watch: {
    // tasks: function (val) {
    //   localStorage.setItem("tasks", JSON.stringify(val));
    // },
    tasks: {
      handler: function (newValue) {
        localStorage.setItem("tasks", JSON.stringify(newValue));
      },
      deep: true
    }
  },

  // beforeDestroy() {
  //   clearTimeout(this.timer)
  // }
};
</script>
<style lang="scss">
.rounded-input {
  border-radius: 50px 50px 50px 50px;
}

.no-tasks {
  opacity: 0.5;
}

.todo-items {
  margin-top: 10px;
  //border: 1px solid dimgray;
  border-radius: 50px 50px 50px 50px;
  //background-color: white;
}

.rounded .q-checkbox__bg {
  border-radius: 45%;
}

.q-item__select {
  background-color: #ecffff;
}
</style>
