// app global css in SCSS form
// app global css in SCSS form
//html,
//body {
//  font-family: "Vazir FD", sans-serif;
//}
.persian-font {
  font-family: "Vazir FD", sans-serif;
}

.english-font {
  font-family: 'Vazir', sans-serif;
}

// app global css in SCSS form

.body--light {
  .item-done-background {
    background-color: #00bfa5;
    opacity: 0.8;
  }

  .done {
    .q-item__label {
      text-decoration: line-through;
      color: #bbb;
    }
  }
}


.body--dark {
  .item-done-background {
    background-color: #00bfa5;
    border-bottom: 2px solid #00bfa5;
    opacity: 0.6;
  }

  .done {
    .q-item__label {
      text-decoration: line-through;
      color: #bbb;
    }
  }
}


.header-image-bg-color {
  background-color: #F7C9CB;
}

.blur-bg {
  background: rgba(0, 0, 0, .6);
  -webkit-backdrop-filter: saturate(180%) blur(11px);
  backdrop-filter: saturate(180%) blur(11px);
}
