<template>
  <q-layout view="lHh Lpr lFf">
    <q-header reveal>
      <q-toolbar>
        <q-toggle
          v-model="toggle"
          :icon="$q.dark.isActive ? 'mdi-brightness-2' : 'mdi-brightness-7'"
          :color="$q.dark.isActive ? 'teal-14' : 'amber'"
          :style="'position: absolute; top: 10px;' + (lang === 'fa-ir' ? 'left: 20px;' : 'right:20px;')"
          @input="toggleTheme"
          keep-color
        />
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
          color="black"
          class="q-mb-sm"
        />
        <div class="q-px-lg q-pt-md text-black">
          <div class="text-h4 q-pt-sm q-pt-md header-title">
            {{ $t('manageDailyWorks') }}
          </div>
          <div
            class="text-subtitle1 q-py-md text-center header-subtitle header-text"
          >
            <q-icon name="today"/>
            <span> {{ output }}</span>
          </div>
          <div>
            <q-img
              src="~assets/images/todo-background.jpg"
              class="header-image absolute-top"
            />
          </div>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      :width="220"
      :breakpoint="600"
      class="scrollbar"
    >
      <q-scroll-area
        style="height: calc(100% - 150px); margin-top: 150px;"
      >
        <q-list padding>
          <q-item class="q-py-none">
            <q-item-section class="flex flex-center q-pa-sm">
              <q-btn
                :icon="$q.dark.isActive ? 'mdi-brightness-2' : 'mdi-brightness-7'"
                :color="$q.dark.isActive ? 'white' : 'amber'"
                flat
                dense
                round
                @click="toggleTheme"
              >
              </q-btn>
            </q-item-section>
          </q-item>
          <q-item class="q-py-none">
            <q-item-section class="flex flex-center q-pa-sm">
              <q-select
                v-model="lang"
                :options="langOptions"
                :label="$t('language')"
                dense
                borderless
                emit-value
                map-options
                options-dense
                style="min-width: 150px"
              />
            </q-item-section>
          </q-item>
          <!--          <q-separator></q-separator>-->
          <q-item to="/" exact active clickable v-ripple class="drawer-btn">
            <q-item-section avatar>
              <q-icon name="mdi-list-status" class="text-teal-14"/>
            </q-item-section>
            <q-item-section>
              {{ $t('todo') }}
            </q-item-section>
          </q-item>
          <q-item to="/favorites" exact active clickable v-ripple class="drawer-btn">
            <q-item-section avatar>
              <q-icon name="mdi-star" class="text-teal-14"/>
            </q-item-section>
            <q-item-section>
              {{ $t('favorites') }}
            </q-item-section>
          </q-item>
          <q-expansion-item
            expand-separator
            icon="mdi-group"
            :label="$t('categories')"
            :caption="categories.length + $t('categories')"
            header-class="text-teal-14"
            :content-inset-level="0"
            default-opened
          >
            <q-item to="/" exact active clickable
                    v-ripple
                    class="'drawer-btn">
              <q-item-section avatar>
                <q-icon name="mdi-dots-vertical" class="text-teal"/>
              </q-item-section>

              <q-item-section class="text-teal">
                {{ $t('all') }}
              </q-item-section>
            </q-item>
            <q-item v-for="category in categories" :key="category.name" :to="'/'+category.name" exact active clickable
                    v-ripple
                    class="'drawer-btn">
              <q-item-section avatar>
                <q-icon name="mdi-dots-vertical" :class="'text-'+category.color"/>
              </q-item-section>

              <q-item-section :class="'text-'+category.color">
                {{ $t(category.name) }}
              </q-item-section>
            </q-item>
          </q-expansion-item>
          <q-item
            to="/about"
            exact
            active
            clickable
            v-ripple
            class="drawer-btn"
          >
            <q-item-section avatar>
              <q-icon
                name="mdi-account-question-outline"
                class="text-teal-14"
              />
            </q-item-section>

            <q-item-section>
              {{ $t('aboutMe') }}
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>

      <q-img
        class="absolute-top text-center"
        src="~assets/images/background.png"
        style="height: 129px"
      >
        <div class="absolute-bottom bg-transparent  ">
          <q-avatar size="56px" class="q-mb-sm">
            <img src="~assets/images/avatar.png"/>
          </q-avatar>
          <div class="text-weight-bold text-center text-black">
            {{ $t('name') }}
          </div>
          <a href="" class=" text-center text-black" dir="ltr">
            pegahkazemi@gmail.com
          </a>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <keep-alive>
        <router-view/>
      </keep-alive>
    </q-page-container>
  </q-layout>
</template>
<script>
import moment from "jalali-moment";
import {mapState} from 'vuex'

export default {
  name: "MainLayout",
  data() {
    return {
      leftDrawerOpen: false,
      output: "",
      toggle: false,
      lang: this.$i18n.locale,
      langOptions: [
        {value: 'en-us', label: 'English'},
        {value: 'fa-ir', label: 'فارسی'}
      ]
    };
  },
  computed: {
    ...mapState('shared', ['categories']),
  },
  mounted() {
    let dark = localStorage.getItem("dark");
    // console.log(dark)
    if (dark && dark == "true") {
      this.$q.dark.set(true);
    }
  },
  methods: {
    toggleTheme() {
      this.$q.dark.toggle();
      localStorage.setItem("dark", JSON.stringify(this.$q.dark.isActive));
    },
    // changeLang(lang) {
    //   console.log(lang);
    //   this.$i18n.locale = lang;
    //   localStorage.setItem('lang', JSON.stringify(lang));
    //   if (lang === 'fa-ir') {
    //     import(
    //       'quasar/lang/fa-ir'
    //       ).then((qlang) => {
    //       this.$q.lang.set(qlang.default);
    //     });
    //   } else {
    //     import(
    //       'quasar/lang/en-us'
    //       ).then((qlang) => {
    //       this.$q.lang.set(qlang.default);
    //     });
    //   }
    // }
  },
  created() {
    const userLang = JSON.parse(localStorage.getItem('lang'));
    if (userLang === 'en-us') {
      import(
        'quasar/lang/en-us'
        ).then((qlang) => {
        this.$q.lang.set(qlang.default);
      })
    }
    let m = moment(Date.now());
    m.locale(userLang ? userLang.substr(0, 2) : 'fa');
    this.output = m.format("ddd") + " " + m.format("YYYY/MM/DD");
  },
  watch: {
    lang(lang) {
      // change i18n lang
      this.$i18n.locale = lang;
      //update local storage lang
      localStorage.setItem('lang', JSON.stringify(lang));
      //change quasar lang
      if (lang === 'fa-ir') {
        import(
          'quasar/lang/fa-ir'
          ).then((qlang) => {
          this.$q.lang.set(qlang.default);
        });
      } else {
        import(
          'quasar/lang/en-us'
          ).then((qlang) => {
          this.$q.lang.set(qlang.default);
        });
      }
      let m = moment(Date.now());
      m.locale(lang.substr(0, 2));
      this.output = m.format("ddd") + " " + m.format("YYYY/MM/DD");
    },
  },
};
</script>
<style lang="scss">
.header-image {
  height: 100%;
  z-index: -1;
}

@media only screen and (max-width: 472px) {
  .header-title {
    font-size: 1.125rem;
    padding-right: 5px;
  }
  .header-subtitle {
    padding: 8px;
    font-size: 16px;
  }
  .scrollbar {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 520px) and (max-width: 1024px) {
  .header-title {
    font-size: 2rem;
    padding-right: 5px;
  }
  .header-subtitle {
    padding: 8px;
    font-size: 2rem;
  }
  .drawer-btn {
    font-size: 1rem;
  }
  .scrollbar {
    overflow-x: hidden;
  }
}

.header-text {
  font-size: 1em;
  padding: 6.5%;
  text-align: center;
}
</style>
